body {
	margin: 0;
	background: linear-gradient(to bottom, rgb(15, 15, 15,1), rgb(10, 10, 10, 0.9), rgb(5, 5, 5, 0.8), rgb(0, 0, 0, 0.7));
	background-attachment: fixed;
	background-size: cover;
}


/* CARD ONE */
.card {
	background: rgb(0, 0, 0,0.7);
	background-size: cover;
	overflow: hidden;
    height: 400px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 1px rgb(5, 5, 5,1),
    0 0 1px rgb(5, 5, 5,1),
    0 0 3px rgb(5, 5, 5,0.5);
    transition: 1s;


	display: block;
	margin: 85px auto;
	text-align: center;
}

.card:hover, .card-2:hover, .card-3:hover, .card-4:hover {
	background: rgb(0, 0, 0,0.8);
	transition: 1s;
}

.card img {
	display: flex;
	height: 160px;
	border-radius: 100%;
	margin: 30px auto;
}

.card h1 {
	color: white;
	font-family: Verdana;
	font-size: 35px;
}

.card p {
	margin: -12px;
	color: white;
	font-family: Verdana;
	font-size: 13px;
}

.card a {
	display: block;
	color: white;
	margin: 60px auto;
	width: 40%;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid white;
	text-align: center;
	font-family: Verdana;
	text-decoration: none;
	border-radius: 5px;
}

/* CARD TWO */
.card-2 {
       background: rgb(0, 0, 0,0.7);
	background-size: cover;
	overflow: hidden;
    height: 900px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 1px rgb(5, 5, 5,1),
    0 0 1px rgb(5, 5, 5,1),
    0 0 3px rgb(5, 5, 5,0.5);
    transition: 1s;


	display: block;
	margin: 285px auto;
	text-align: center;
}

.card-2 img {
	display: flex;
    margin: 30px auto;
    height: 550px;
    border-radius: 15px;
   
}

.card-2 h1 {
	color: white;
	font-family: Verdana;
	font-size: 25px;
}

.card-2 p {
	color: white;
	font-family: Verdana;
	font-size: 13px;
}

.card-2 .icon1 {
	display: block;
	height: 60px;
	margin: 60px auto;
}

.card-2 i {
	display: block;
	color: white;
	text-transform: uppercase;
	font-family: Verdana;
	font-size: 16px;
	margin: -35px auto;
}

.card-2:hover, .card-3:hover {
	transition: 1s;
	transform: scale(1.1);
}

/* CARD THREE */
.card-3 {
       background: rgb(0, 0, 0,0.7);
	background-size: cover;
	overflow: hidden;
    height: 420px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 1px rgb(5, 5, 5,1),
    0 0 1px rgb(5, 5, 5,1),
    0 0 3px rgb(5, 5, 5,0.5);
    transition: 1s;


	display: block;
	margin: 285px auto;
	text-align: center;
}

.card-3 h1 {
	margin: 50px auto;
	color: white;
	font-family: Verdana;
	font-size: 25px;
	text-decoration: underline;
}

.card-3 p {
	color: white;
	font-family: Verdana;
	font-size: 13px;
}

.card-3 b {
	color: white;
	font-family: Verdana;
	font-size: 13px;
}

.card-3 li {
	color: white;
	font-family: Verdana;
	font-size: 13px;
}

.card-3 .icon1 {
	display: block;
	height: 60px;
	margin: 40px auto;
}

.card-3 i {
	display: block;
	color: white;
	text-transform: uppercase;
	font-family: Verdana;
	font-size: 16px;
	margin: -25px auto;
}

/* CARD FOUR */
.card-4 {
	background: rgb(0, 0, 0,0.7);
	background-size: cover;
	overflow: hidden;
    height: 400px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 1px rgb(5, 5, 5,1),
    0 0 1px rgb(5, 5, 5,1),
    0 0 3px rgb(5, 5, 5,0.5);
    transition: 1s;


	display: block;
	margin: 85px auto;
	text-align: center;
}

.card-4 h1 {
	margin: 70px auto;
	color: white;
	font-family: Verdana;
	font-size: 25px;
	
}

.card-4 b {
	color: white;
	font-family: Verdana;
	font-size: 13px;
}

.card-4 a {
	display: block;
	color: white;
	margin: 60px auto;
	width: 40%;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid white;
	text-align: center;
	font-family: Verdana;
	text-decoration: none;
	border-radius: 5px;
}


.mark {
	color: red;
}

/* RESPONSIVE */

@media (min-width: 400px) and (max-width: 1111px) {

	.card {
		height: 450px;
	}

	.card h1 {
	color: white;
	font-family: Verdana;
	font-size: 28px;
}

.card p {
	visibility: hidden;
	margin: -10px;
	color: white;
	font-family: Verdana;
	font-size: 9px;
	text-align: center;
}

.card-2 {
	height: 340px;
}

.card-2 img {
	visibility: hidden;
	height: 0px;

}

.card-2 .icon1 {
	visibility: visible;
}

.card-2 h1 {
	color: white;
	font-family: Verdana;
	font-size: 20px;
}

.card-2 p {
	color: white;
	font-family: Verdana;
	font-size: 11px;
}

.card-2 i {
	display: block;
	color: white;
	text-transform: uppercase;
	font-family: Verdana;
	font-size: 16px;
	margin: -35px auto;
}


}


/* ANIM */
@keyframes intro {
	0% {
		visibility: hidden;

	}

	50% {
		visibility: visible;
		transform: scale(0.8);
		opacity: 0.1;
	}

	100% {
		transform: scale(1.0);
		opacity: 1;
	}
}

.card, .card-2, .card-3, .card-4 {
	animation: intro 1s;
	
}

.card {
	animation-delay: 0s;
}

.card-2 {
	animation-delay: 0.5s;
}

.card-3 {
	animation-delay: 1s;
}

.card-4 {
	animation-delay: 1.5s;
}
